<doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Orange bot
    body 
        <h1> Check out our downloader <a href="https://www.instagram.com/orangebot_/">here</a></h1>
        <div class="mt-5 lead text-start">Orange bot downloader </div>
        <p class="text-start">provided by Orange bot, helps easily download Instagram video and photos. It is a simple tool to use for downloading from Instagram. The bot works perfectly with any browser on a PC or mobile device.</p>