<!DOCTYPE html>
<html>
  <head>
    <title>Stock Price Checker</title>
    <link id="favicon" rel="icon" href="" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="Instagram Media ID" content=#{mediaId} />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <header>
      <h1>Orange bot Instagram Media #{mediaId}</h1>
    </header>
    <button onclick="downloadMedia(`#{mediaId}`)"><h2>Download</h2></button>
    
    <hr class="m-50 mt-200" />
    <script src="/public/script.js"></script>
  </body>
</html>
