<html lang="en">
<head>
    <title>OrangeBot</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Instagram User Downloads" content=#{userId} />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/public/custom.css">
    <link rel="stylesheet" href="https://use.typekit.net/zkd4hvr.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="container my-5">
        <div class="text-center">

            <!--logo and header-->
            <div>     
                <a href="https://imgbb.com/"><img src="https://i.ibb.co/HzhzswT/Group-1.png" alt="OrangeBot Logo"></a>
                <h1 class="display-4">Orange bot</h1>
                <h4>Instagram downloader</h4>
            </div>
    
        
            <!--User downloads -->
            <div id="content-background" class="row justify-content-center mt-3 mb-3 p-2" style="background: #fafafa; border-radius: 15px;">
                <div class="col-md-5 m-2">
                    each item in userDownloads
                        div(style="border: 1px solid #888888; border-radius: 5px; margin: 5px 0") 
                            <iframe loading="lazy" id="loadmedia" col width="100%" height="250" src="/api/stream?mediaId=#{item.igMediaId}" frameborder="0" allowfullscreen></iframe>
                            <button onclick="downloadMedia(`#{item.igMediaId}`)" id="btn-overide" class="btn btn-sm btn-success">Download</button>
                            <p style="font-size: 10px">#{item.date}</p>
                </div>
                <div class="col-md-5 m-2 text-md-start">
                    <i><a class="text-muted head" href='https://www.instagram.com/orangebot_/'>Dont know how to download?</a> </i>
                    <h5 class="mt-2"><b>Note:</b></h5><p class="m-0">For iPhone users, Please click <b>"Open in Browser"</b> in the options at the top right of your phone before you download.</p>
                </div>
            </div>
    
            <div class="mt-5 lead text-start">Orange bot downloader </div>
            <p class="text-start">provided by Orange bot, helps easily download Instagram video and photos. It is a simple tool to use for downloading from Instagram. The bot works perfectly with any browser on a PC or mobile device.</p>
        </div>
        
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/public/script.js"></script>

</body>
</html>